In [1]:
import sklearn as sk
import pandas as pd
import numpy as np

In [2]:
DATAFILE = "./Assignment3-WeatherData.csv"
dataset = pd.read_csv(DATAFILE)

In [3]:
dataset.head()

,row ID,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,Row0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0
1,Row1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0
2,Row2,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0
3,Row3,Albury,14.6,29.7,0.2,NaN,NaN,WNW,56.0,W,...,55.0,23.0,1009.2,1005.4,NaN,NaN,20.6,28.9,No,0
4,Row4,Albury,7.7,26.7,0.0,NaN,NaN,W,35.0,SSE,...,48.0,19.0,1013.4,1010.1,NaN,NaN,16.3,25.5,No,0

In [4]:
dataset.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainTomorrow
count,99073.000000,99286.000000,98537.000000,56985.00000,52199.000000,93036.000000,98581.000000,97681.000000,98283.000000,97010.000000,89768.000000,89780.000000,61944.000000,59514.000000,98902.000000,97612.000000,99516.000000
mean,12.176266,23.218513,2.353024,5.46132,7.615090,39.976966,14.004849,18.650464,68.866376,51.433296,1017.684638,1015.286204,4.447985,4.519122,16.970041,21.681340,0.224677
std,6.390882,7.115072,8.487866,4.16249,3.783008,13.581524,8.902323,8.801827,19.074951,20.777616,7.110166,7.045189,2.886580,2.716618,6.488961,6.931681,0.417372
min,-8.500000,-4.100000,0.000000,0.00000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.500000,978.200000,0.000000,0.000000,-7.000000,-5.100000,0.000000
25%,7.600000,17.900000,0.000000,2.60000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1013.000000,1010.500000,1.000000,2.000000,12.300000,16.600000,0.000000
50%,12.000000,22.600000,0.000000,4.80000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.700000,1015.300000,5.000000,5.000000,16.700000,21.100000,0.000000
75%,16.800000,28.200000,0.800000,7.40000,10.600000,48.000000,19.000000,24.000000,83.000000,65.000000,1022.400000,1020.000000,7.000000,7.000000,21.500000,26.400000,0.000000
max,33.900000,48.100000,371.000000,86.20000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.000000,1039.600000,9.000000,9.000000,40.200000,46.700000,1.000000

In [5]:
dataset.count().sort_values()

Sunshine         52199
Evaporation      56985
Cloud3pm         59514
Cloud9am         61944
Pressure9am      89768
Pressure3pm      89780
WindDir9am       92510
WindGustDir      92995
WindGustSpeed    93036
WindDir3pm       96868
Humidity3pm      97010
Temp3pm          97612
WindSpeed3pm     97681
Humidity9am      98283
Rainfall         98537
RainToday        98537
WindSpeed9am     98581
Temp9am          98902
MinTemp          99073
MaxTemp          99286
row ID           99516
Location         99516
RainTomorrow     99516
dtype: int64

In [6]:
dataset.shape

(99516, 23)

## First, the RainToday attribute is an binary value where it only store Yes/No for answer. So I will manually binarise the RainToday attribute using replace() function in pd

## Drop these columns (Sunshine, Evaporation, Cloud3pm/9am) as they have to much NA value

In [7]:
dataset = dataset.drop(columns=['Sunshine','Evaporation','Cloud3pm','Cloud9am','row ID'],axis=1) 
dataset.shape

(99516, 18)

In [8]:
dataset = dataset.dropna()

In [9]:
dataset.isna().sum()

Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64

In [10]:
dataset.shape

(79140, 18)

# Performing standardization the data

In [11]:
from sklearn.preprocessing import StandardScaler

# create a scaler object
std_scaler = StandardScaler()

numericColumns = []

for col in dataset.columns:
    if(dataset[col].dtype == 'float64'): # if the type of the col is numeric
        numericColumns.append(col)
print(numericColumns)

['MinTemp', 'MaxTemp', 'Rainfall', 'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Temp9am', 'Temp3pm']

In [12]:
for col in numericColumns:
    scalerData = std_scaler.fit_transform(dataset[col].values.reshape(-1, 1))
    dataset[col] =  pd.DataFrame(scalerData, columns=[col])
dataset.shape

(79140, 18)

In [13]:
dataset.head()

,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,Albury,0.119802,-0.105934,-0.207977,W,0.240913,W,WNW,0.576967,0.523188,0.188186,-1.381221,-1.385198,-1.143726,-0.085147,-0.045675,No,0
1,Albury,-0.842097,0.209274,-0.278039,WNW,0.240913,NNW,WSW,-1.339686,0.290050,-1.237542,-1.236549,-0.973301,-1.043301,-0.037889,0.320335,No,0
2,Albury,0.777100,1.240864,-0.161269,W,0.015814,ENE,NW,-0.980314,0.056912,0.769038,-0.850755,-0.944895,-1.301538,0.056626,1.110917,No,0
3,Albury,0.312182,0.868346,-0.254685,WNW,1.141306,W,W,0.457176,0.523188,-0.656690,-1.332997,-1.172148,-1.387617,0.497697,0.993794,No,0
4,Albury,-0.794002,0.438516,-0.278039,W,-0.434382,SSE,W,-1.100105,-0.292795,-1.026323,-1.525894,-0.575608,-0.713331,-0.179662,0.496020,No,0

# Binarise the categories data

In [14]:
dataset["RainToday"].replace({"No":0,"Yes":1},inplace = True)

In [15]:
dataset.head()

,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,Albury,0.119802,-0.105934,-0.207977,W,0.240913,W,WNW,0.576967,0.523188,0.188186,-1.381221,-1.385198,-1.143726,-0.085147,-0.045675,0,0
1,Albury,-0.842097,0.209274,-0.278039,WNW,0.240913,NNW,WSW,-1.339686,0.290050,-1.237542,-1.236549,-0.973301,-1.043301,-0.037889,0.320335,0,0
2,Albury,0.777100,1.240864,-0.161269,W,0.015814,ENE,NW,-0.980314,0.056912,0.769038,-0.850755,-0.944895,-1.301538,0.056626,1.110917,0,0
3,Albury,0.312182,0.868346,-0.254685,WNW,1.141306,W,W,0.457176,0.523188,-0.656690,-1.332997,-1.172148,-1.387617,0.497697,0.993794,0,0
4,Albury,-0.794002,0.438516,-0.278039,W,-0.434382,SSE,W,-1.100105,-0.292795,-1.026323,-1.525894,-0.575608,-0.713331,-0.179662,0.496020,0,0

In [16]:
from sklearn.preprocessing import OneHotEncoder

onehot = OneHotEncoder(dtype=int,sparse=False)
catCols = []
for col in dataset.columns :
    if(dataset[col].dtypes == 'object'):
        catCols.append(col)
print(catCols)

['Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm']

In [17]:
# colMap = {
#     ""
# }
# for col in catCols:
#     binariseCol = onehot.fit_transform(dataset[col].values.reshape(-1,1))
#     binariseDf = pd.DataFrame(binariseCol,columns = dataset[col].unique())
#     for binCol in binariseDf.columns:
#         print(binariseDf[binCol])
#         dataset["{}_{}".format(col,binCol)] = binariseDf[binCol]

# dataset.head()
dataset = pd.get_dummies(dataset,columns=catCols)

In [18]:
dataset.head()

,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,...,WindDir3pm_NNW,WindDir3pm_NW,WindDir3pm_S,WindDir3pm_SE,WindDir3pm_SSE,WindDir3pm_SSW,WindDir3pm_SW,WindDir3pm_W,WindDir3pm_WNW,WindDir3pm_WSW
0,0.119802,-0.105934,-0.207977,0.240913,0.576967,0.523188,0.188186,-1.381221,-1.385198,-1.143726,...,0,0,0,0,0,0,0,0,1,0
1,-0.842097,0.209274,-0.278039,0.240913,-1.339686,0.290050,-1.237542,-1.236549,-0.973301,-1.043301,...,0,0,0,0,0,0,0,0,0,1
2,0.777100,1.240864,-0.161269,0.015814,-0.980314,0.056912,0.769038,-0.850755,-0.944895,-1.301538,...,0,1,0,0,0,0,0,0,0,0
3,0.312182,0.868346,-0.254685,1.141306,0.457176,0.523188,-0.656690,-1.332997,-1.172148,-1.387617,...,0,0,0,0,0,0,0,1,0,0
4,-0.794002,0.438516,-0.278039,-0.434382,-1.100105,-0.292795,-1.026323,-1.525894,-0.575608,-0.713331,...,0,0,0,0,0,0,0,1,0,0

In [19]:
dataset.shape

(79140, 106)

In [20]:
X = dataset.loc[:,dataset.columns!='RainTomorrow']
y = dataset.RainTomorrow

In [21]:
X.shape

(79140, 105)

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [23]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train,y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').